@import "variables";

.container{
  display: block;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.ProfileContainer{
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
margin-bottom: 20px;
}

.ProfileImageCropper{
  width: 15rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.ProfileImage{
  width: 15rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.ProfileImageButton{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  :hover{
    visibility: visible;
  }
}

.ProfileNameContainer{
  display: block;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

}

.ProfileNameInput{
  background-color: transparent;
  border: none;
  font-size: 32pt;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;

}

.ProfileNameInput::placeholder{
  color: #fff;
}

.ProfileNameInput:focus{
  outline: solid;
}

.ProfileNameButton{
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: $dark-blue;
}